
@{
    ViewData["Title"] = "Index";
}

<div class="categories">
    <h3 style="background:#0a5ef6">Tin tức mới nhất</h3>
</div>
<div class="main">
    <div class="content">
        <div class="image group">
            <div class="grid images_3_of_1" style="padding-top:20px">
                <img src="~/images/vsmart.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <a asp-action="NewsDetail" asp-controller="TinTuc">Top 5 smartphone dưới 3 triệu đáng mua, tham khảo ngay đâu sẽ là chiếc máy tốt về giá lẫn cấu hình mà bạn ưng bụng</a>
                <h4>Posted on May 6th, 2020 by </h4>
                <p>Qua đợt giãn cách xã hội vừa qua người người, nhà nhà đều lao đao vì kinh tế trì trệ tiết kiệm là nhu cầu cần thiết. 
                Bạn muốn sắm smartphone mới nhưng ví tiền không mấy rủng rỉnh thì bạn có thể xem qua top 7 smartphone dưới 3 triệu đáng mua sau đây, lựa chọn đúng đắn cho bạn trong lúc này.</p>

            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1" style="padding-top:20px">
                <img src="~/images/android.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <a href="#">Do ảnh hưởng bởi dịch COVID-19, HMD Global lùi thời điểm cập nhật Android 10 cho một số smartphone</a>
                <h4>Posted on May 6th, 2020 by </h4>
                <p>HMD vừa thay đổi lịch trình cập nhật Android 10 cho các smartphone Nokia do sự bùng phát của dịch COVID-19. Giám đốc sản phẩm của HMD Global, ông Juho Sarvikas nói rằng công ty sẽ duy trì vị thế là thương hiệu nhanh nhất trong việc tung ra các bản cập nhật phần mềm mới cho thiết bị của mình.</p>

            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1" style="padding-top:20px">
                <img src="~/images/LG.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <a href="#">LG Q61 chính thức được công bố với trang bị màn hình đục lỗ 6.5 inch, chip Helio P35, RAM 4GB, bộ 4 camera sau 48MP, giá gần 7 triệu đồng</a>
                <h4>Posted on May 6th, 2020 by </h4>
                <p>LG vừa cho ra mắt LG Q61 tại quê nhà Hàn Quốc, nghe có vẻ mới nhưng thực chất đây là LG K61 được đổi tên. Điểm nổi bật của LG Q61 là trang bị màn hình đục lỗ có kích thước lớn và bộ 4 camera sau 48 MP.</p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1" style="padding-top:20px">
                <img src="~/images/xiaomi9.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <a href="#">Bộ đôi Xiaomi Redmi Note 9 và Redmi Note 9 Pro đang được giảm giá 300k nè, sắm máy hot mà giá còn hời</a>
                <h4>Posted on May 6th, 2020 by </h4>
                <p>Bộ đôi smartphone mới "leng keng" nhà Xiaomi là Redmi Note 9 và Redmi Note 9 Pro chính thức công bố giá bán. Tuyệt vời hơn đây chính là thời điểm để bạn sở hữu điện thoại mới từ nhà Xiaomi với mức giá rẻ hơn 300.000 đồng kèm trả góp 0% tiện lợi nếu bạn chưa đủ kinh phí sắm ngay.</p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1" style="padding-top:20px">
                <img src="~/images/redminote9.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <a href="#">Không cần đọc hết 5 lý do, tôi chỉ cần 3 lý do thôi là đã quyết định xuống tiền để mua Redmi Note 9 Pro rồi</a>
                <h4>Posted on May 6th, 2020 by </h4>
                <p>Cấu hình tốt, mức giá hợp lý và rất nhiều lý do khác khiến cho người dùng lựa chọn thương hiệu Xiaomi. Nhưng trong bài viết này, chúng ta sẽ chỉ đề cập tới 5 lý do chính để bạn lựa chọn Redmi Note 9 Pro vừa mới được ra mắt nhé.</p>
            </div>

        </div>       
        <div class="content-pagenation">
            <li><a href="#">Frist</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>....</span></li>
            <li><a href="#">Last</a></li>
            <div class="clear"> </div>
        </div>
    </div>
</div>





