
@{
    ViewData["Title"] = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
    font-size:18px;
    padding-top:10px;
    }
    h2{
        font-weight:600;
        font-size:35px;
    }
    h3 {
    font-weight:bolder;
    font-size:30px;
    padding-top:20px;
    }
    a {
    font-size:18px;
    /*color:darkred;*/
    }
    img {
    margin-top:10px;
    }
</style>
<div class="container" style="width:90%">
    <h2>Top 5 smartphone dưới 3 triệu đáng mua, tham khảo ngay đâu sẽ là chiếc máy tốt về giá lẫn cấu hình mà bạn ưng bụng</h2>
    <img src="~/images/vsmart.jpg" />
    <p>
        Qua đợt giãn cách xã hội vừa qua người người, nhà nhà đều lao đao vì kinh tế trì trệ tiết kiệm là nhu cầu cần thiết.
        Bạn muốn sắm smartphone mới nhưng ví tiền không mấy rủng rỉnh thì bạn có thể xem qua top 7 smartphone dưới 3 triệu đáng mua sau đây, lựa chọn đúng đắn cho bạn trong lúc này.
    </p>
    <h3>1. Vsmart Joy 3 (3GB/32GB)</h3>
    <iframe width="800" height="360" src="https://www.youtube.com/embed/n4fgVCJJvh4" style="width:90%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        Chiếc Vsmart Joy 3 (3GB/32GB) là một trong những con máy bán cực chạy tại Thế Giới Di Động khi vừa lên kệ. Vì sao lại thế?<br />
        Câu trả lời là đây, có thể nói hiệu năng và thiết kế máy khá thu hút người dùng vì quá hời so với số tiền bỏ ra để sở hữu. Máy mang thiết kế trẻ trung năng động, mặt lưng chuyển màu sắc độc đáo ôm khít thân máy, màn hình có kích thước 6.5 inch sử dụng tấm nền IPS có màu sắc tốt. Ngoài ra, hiệu năng mạnh mẽ với Snapdragon 632 đáp ứng tốt nhu cầu giải trí từ cơ bản như xem phim lướt web hằng ngày hay có thể chơi được các tựa game nhẹ.<br />
        Còn về cụm 3 camera sau có độ phân giải lần lượt là 13 MP, 8 MP, 2 MP giúp bạn có thể chụp ảnh xóa phông hay góc rộng một cách chuyên nghiệp và dễ dàng hơn. Pin khá khủng 5000 mAh và hỗ trợ cả sạc nhanh cho bạn nữa. Bạn có nghĩ sẽ rinh em này về?
    </p>
    <h3>2. Xiaomi Redmi 8 (3GB/32GB)</h3>
    <iframe width="800" height="360" src="https://www.youtube.com/embed/n64DrfHl__w" style="width:90%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        Smartphone Xiaomi Redmi 8 (3GB/32GB) có thể xem là một chiếc máy có sức cạnh tranh khá mạnh trong tầm giá rẻ, khiến các đổi thủ khác dè chừng không ít. Bởi cấu hình máy mạnh mẽ, camera nhiều tính năng và pin 'trâu' đấy.
        <br />
        Máy tích hợp chip Qualcomm Snapdragon 439 8 nhân 64 bit, RAM 3 GB và bộ nhớ trong 32 GB quá khủng cho tầm giá khoảng 3 triệu. Hệ thống camera kép bao gồm cảm biến chính Sony IMX363 12 MP và cảm biến chiều sâu 2 MP để chụp ảnh xóa phông cho ra hình ảnh khá tốt đấy nhé. Viên pin dung lượng 5.000 mAh thoải mái cho bạn sử dụng nhiều ngày hỗ trợ luôn cả sạc nhanh cho bạn.
    </p>
    <h3>3. Nokia 2.3</h3>
    <img src="~/images/nokia3.2.jpg" />
    <p>
        Chiếc smartphone đến từ thương hiệu lâu năm được người Việt tin dùng. Ở chiếc Nokia 2.3 đã ra mắt vào cuối năm 2019 nhận được không ít sự khen ngợi từ các tín đồ công nghệ. Tuy nằm trong phân khúc giá rẻ nhưng máy vẫn được nhà Nokia chăm chút khá kĩ lưỡng.<br />
        Vị trí nút bấm đến những điểm tiếp nối của thân máy với màn hình đều được hoàn thiện một cách tỉ mỉ. Trang bị màn hình 6.2 inch, độ phân giải HD+, tỉ lệ màn hình 19:9 đủ rộng rãi để bạn trải nghiệm giải trí. Camera kép phía sau là kếp hợp giữa camera chính 12MP với camera chụp chân dung 2 MP, đặc biệt có hỗ trợ AI cho máy để giúp các bức ảnh lung linh hơn.<br />
        Ngoài ra viên pin 4000 mAh sẽ không làm bạn thất vọng, máy có thể dùng lên tới hơn 2 ngày thoải mái lướt web, xem phim nha. Bật mí thêm một chút, máy còn đang khuyến mãi giảm giá 300.000 đồng nữa nè.

    </p>
    <h3>4. Realme C3i</h3>
    <iframe width="800" height="360" src="https://www.youtube.com/embed/OGGZwY3dKjM" style="width:90%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        Realme C3i là phiên bản rút gọn của người anh Realme C3, tuy là bản rút gọn nhưng không vì vậy máy mất đi những điểm thu hút đáng sắm, có thể nói đây là đối thủ khá mạnh trong phân khúc điện thoại giá rẻ.<br />
        Thiết kế nguyên khối, nổi bật với hiệu ứng phản chiếu đẹp mắt, màn hình với kính cường lực Gorilla Glass 3 hỗ trợ giảm thiểu rủi ro do va đập có thể thấy tổng thể của Realme C3i khá chắc chắn. Màn hình rộng 6.5 inch độ phân giải HD+, tấm nền IPS LCD cho chất lượng hiển thị hình ảnh tươi tắn. Trái tim của máy là chip Helio G70 8 nhân cùng công nghệ HyperEngine cho trải nghiệm chơi game mượt mà.<br />
        Đặc biệt viên pin dung lượng đến 5000 mAh cùng camera kép xóa phông ảo diệu. Nhìn chung, những hiệu năng mà máy mang đến khá hời so với mức giá trong phân khúc dưới 3 triệu. Thêm một lựa chọn khá hay ho cho bạn đó chứ.
    </p>
    <h3>5. OPPO A1K</h3>
    <img src="~/images/oppoak1.jpg" />
    <p>
        OPPO A1K chiếc máy từng khuấy đảo thị trường một thời với những lợi thế như camera selfie hay thiết kế thời trang phù hợp cho giới trẻ.<br />
        Máy mang dáng vẻ mảnh mai, quyến rũ với các đường cong nhẹ nhàng bao quanh thân máy tạo cho bạn cảm giác cầm nắm thoải mái và chắc chắn hơn. Camera chính cũng làm khá tốt nhiệm vụ của mình với độ phân giải 8 MP hỗ trợ công nghệ chống rung đa khung giúp ảnh chụp sắc nét hơn.<br />
        Ngoài ra, sở hữu viên pin 4000 mAh và được tích hợp chế độ quản lý pin thông minh, hứa hẹn sẽ cho bạn một thời gian trải nghiệm thoải mái cũng như tự động tiết kiệm pin mỗi khi cần thiết.
    </p>
    <h3>Bài viết liên quan</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-4">
                <img src="~/images/redmi9.jpg" style="height:100px" />
            </div>
            <div class="col-sm-8">
                <a href="#">Redmi 9 và con đường trở lại của ông trùm giá rẻ</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-4">
                <img src="~/images/vsmartjoy3.jpg" style="height:100px" />
            </div>
            <div class="col-sm-8">
                <a href="#">Đánh giá chi tiết Vsmart Joy 3: Hiệu năng như trâu, pin lâu mới hết</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-4">
                <img src="~/images/vsmartactive.jpg" style="height:100px" />
            </div>
            <div class="col-sm-8">
                <a href="#">Thực hư câu chuyện “Tại Việt Nam, cứ trong 6 chiếc smartphone bán ra thì có một chiếc Vsmart”</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-4">
                <img src="~/images/android.jpg" style="height:100px" />
            </div>
            <div class="col-sm-8">
                <a href="#">Do ảnh hưởng bởi dịch COVID-19, HMD Global lùi thời điểm cập nhật Android 10 cho một số smartphone</a>
            </div>
        </div>
    </div>
</div>