@model HomeShopping.Models.Domain.Contact

@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>EditContact</h2>

<h4>Contact</h4>
<hr />
<div class="row" style="margin-left:20px">
    <div class="col-md-4">
        <form asp-action="EditContact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactID" class="control-label"></label>
                <input asp-for="ContactID" class="form-control" />
                <span asp-validation-for="ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left:20px">
    <a asp-action="ManageContact" class="btn btn-danger">Back to List</a>
</div>

