
@{
    ViewData["Title"] = "Index";
}

<style>

    {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 80%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: darkred;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 400px;
    }

        input[type=submit]:hover {
            background-color: dodgerblue;
        }


    .dangnhap {
        border-radius: 5px;
        font-family: Courier New, Courier, monospace;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    td h1 {
        color: chocolate;
        font-family: Courier New, Courier, monospace;
        font-weight: bolder;
    }

    td h3 {
        font-family: Courier New, Courier, monospace;
        padding-top: 10px;
        font-weight: bold;
    }

    label {
        font-size: 16px;
    }

  
</style>
<div class="dangnhap">
    <form action="" method="post" style=" padding-left: 100px;padding-right: 100px;">
        <div class="row">
            <h1 style="color:brown">Đăng ký thành viên</h1>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="heten">Họ tên</label>
            </div>
            <div class="col-75">
                <input type="text" id="hoten" name="hoten" placeholder="Nhập họ tên của bạn">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="gioitinh">Giới tính</label>
            </div>
            <div class="col-75">
                <input type="radio" id="nam" name="gender" value="Nam" />
                <label for="nam">Nam</label>
                <input type="radio" id="nam" name="gender" value="Nữ" />
                <label for="nu">Nữ</label>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="tentk">Tên tài khoản</label>
            </div>
            <div class="col-75">
                <input type="text" id="tentk" name="tentk" placeholder="Nhập tên tài khoản của bạn">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="passwd">Password</label>
            </div>
            <div class="col-75">
                <input type="text" id="passwd" name="passwd" placeholder="Nhập mật khẩu của bạn">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="passwd2">Nhập lại password</label>
            </div>
            <div class="col-75">
                <input type="text" id="passwd2" name="passwd2" placeholder="Nhập lại mật khẩu của bạn">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email">Email</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" name="email" placeholder="Nhập email của bạn">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="diachi">Địa chỉ</label>
            </div>
            <div class="col-75">
                <input type="text" id="diachi" name="diachi" placeholder="Nhập địa chỉ của bạn">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="phone">Số điện thoại</label>
            </div>
            <div class="col-75">
                <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại của bạn">
            </div>
        </div>
        <div class="row">
            <input type="submit" id="dangky" name="dangky" value="Đăng ký" />
        </div>
    </form>
</div>