<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a asp-action="Index" asp-controller="Manage" asp-area="Admin"><i class="fa fa-link"></i> <span>PRODUCTS</span></a></li>
    <li><a asp-action="ManageNews" asp-controller="Manage"><i class="fa fa-link"></i> <span>NEWS</span></a></li>
    <li><a asp-action="ManageContact" asp-controller="Manage"><i class="fa fa-link"></i> <span>FEEDBACK</span></a></li>
    <li><a asp-action="ManageOrder" asp-controller="Manage"><i class="fa fa-link"></i> <span>ORDERS</span></a></li>
    <li><a asp-action="ManageUser" asp-controller="Manage"><i class="fa fa-link"></i> <span>ACCOUNTS</span></a></li>
    @*<li><a asp-action="Index" asp-controller="Home"><i class="fa fa-link"></i> <span>Quay về cửa hàng</span></a></li>*@
    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>*@
</ul>